/* Mobile – must come after base/component styles so it overrides */
@media (max-width: 768px) {
    .margin-wrapper {
        margin: 0;
    }

    nav .links {
        display: none;
    }

    nav .actions {
        display: none;
    }

    nav side-bar {
        display: inline-block;
    }

    .profile-container {
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .banner-container hr {
        left: 0;
        right: 0;
    }

    .banner-container img {
        width: 350px;
        height: 350px;
    }

    .skills-container section {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-me-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-me-container img {
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 769px) {
    body {
        /* Fixes: User shrinks window -> opens side bar -> body scroll is disabled -> expands window -> side-bar disappears but user cannot scroll */
        overflow: auto !important;
    }
}